﻿
/* PASSING */
.navbar-inverse .form-control {
    color: #333;
}

@-webkit-keyframes passing {
    0% {
        -webkit-transform: translateX(90%);
        transform: translateX(90%);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        opacity: 0;
    }
}

@keyframes passing {
    0% {
        -webkit-transform: translateX(90%);
        -ms-transform: translateX(90%);
        transform: translateX(90%);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        opacity: 0;
    }
}

/*End Passing*/

.newline {
    min-height: 8px;
}

.element {
    animation: pulse 1s 1;
}


.btnrow {
    background-color: white;
}

.bold {
    font-weight: lighter;
}

.anchor {
    cursor: pointer;
}

a {
    text-decoration: none;
}

    a:focus, a:hover {
        text-decoration: none;
    }

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #428bca;
    color: white;
}

/*Modal*/

.modal-header {
    padding: 1px 10px 1px 10px;
}


/*Notification message*/

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

/*Dashobard*/

.dashboard-stats__item {
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 2px;
    background-color: #464960;
    color: white;
}

    .dashboard-stats__item > .fa {
        position: absolute;
        bottom: -20%;
        left: -5%;
        font-size: 100px;
        color: rgba(255, 255, 255, 0.15);
    }

.dashboard-stats__title {
    margin: 0;
    text-align: right;
    font-size: 36px;
    color: white;
}

    .dashboard-stats__title > small {
        display: block;
        font-size: 17px;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.7);
    }

.bg-orange {
    background-color: #ff8a65 !important;
}

.bg-teal {
    background-color: #4db6ac !important;
}

.bg-accent {
    background-color: #a471c6 !important;
}

.bg-pink {
    background-color: #f06292 !important;
}

/*end Dashboard*/


/*Module Selection*/

#shortcut .selected {
    border: 1px solid #0091d9 !important;
    position: relative;
}

    #shortcut .selected:before {
        display: block;
        position: absolute;
        content: "\f00c";
        color: #fff;
        right: 4px;
        top: 3px;
        font-family: FontAwesome;
        z-index: 2;
    }

    #shortcut .selected:after {
        width: 0;
        height: 0;
        border-top: 35px solid #0091d9;
        border-left: 35px solid rgba(0,0,0,0);
        position: absolute;
        display: block;
        right: 0;
        content: "";
        top: 0;
        z-index: 1;
    }

#shortcut {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: #33302F;
    background-color: rgba(0,0,0,.85);
    z-index: 1907;
    display: none;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    #shortcut ul {
        padding: 15px 20px 10px;
        list-style: none;
        margin: 0;
        box-shadow: 0 4px 10px rgba(0,0,0,.3);
        -moz-box-shadow: 0 4px 10px rgba(0,0,0,.3);
        border-bottom: 1px solid #423F3F;
    }

        #shortcut ul li {
            display: inline-block;
            width: auto;
        }

            #shortcut ul li .jarvismetro-tile {
                margin: 0 3px 3px;
                border: none;
                border-radius: 0;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
            }

                #shortcut ul li .jarvismetro-tile:hover {
                    color: #fff;
                    text-decoration: none;
                }

                #shortcut ul li .jarvismetro-tile:active, #shortcut ul li .jarvismetro-tile:focus {
                    left: 0;
                    top: 0;
                }


.jarvismetro-tile {
    float: left;
    display: block;
    background-color: #fff;
    width: 100px;
    height: 70px;
    cursor: pointer;
    box-shadow: inset 0 0 1px #FFC;
    border: 1px dotted #C5C5C5;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-smooth: always;
    margin: 0 10px 20px 0;
    padding: 5px;
    position: relative;
}

    .jarvismetro-tile:hover {
        z-index: 10;
        -webkit-transform: scale(1.07);
        -moz-transform: scale(1.07);
    }

    .jarvismetro-tile.big-cubes {
        width: 120px;
        height: 120px;
    }

    .jarvismetro-tile.double {
        width: 249px;
    }

    .jarvismetro-tile:active {
        top: 1px;
        left: 1px;
    }

    .jarvismetro-tile .iconbox {
        text-align: center;
    }

        .jarvismetro-tile .iconbox i {
            display: block;
            margin: 15px auto 0;
            height: 75px;
        }

        .jarvismetro-tile .iconbox span {
            display: block;
            text-align: left;
        }

            .jarvismetro-tile .iconbox span > span {
                position: absolute;
                right: -3px;
                bottom: -3px;
                border-radius: 50%;
                padding: 5px;
                border: 1px solid #fff;
            }



/*end MOdule*/

body {
    font-family: Tahoma;
    background-color: #ecf0f5;
    color: #2b425b;
    background: #2b425b;
}

.heading {
    font-size: 1.6em;
}

i {
    transition: all .2s ease-in-out;
}

    i:hover {
        transform: scale(1.3);
    }

.well-pad {
    min-height: 200px;
    padding: 15px;
    background-color: #fff;
}

.btn {
    border-radius: 2px;
}

.error {
    border-color: red;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ccc;
}

a {
    outline: none !important;
}

.form-control {
    border-radius: 1px;
    color: #428bca;
}

.logo {
    background-color: #fff;
    color: #2b425b;
}

iframe {
    padding: 10px 10px 10px 10px;
    border: 0px;
    overflow: hidden;
}

.iframe > body {
    overflow-x: unset;
}

/*Panel*/

.panel {
    border-radius: 0;
    border: 1px solid #e7ecf3;
    border-bottom: 1px solid rgba(0,0,0,.17);
    margin-bottom: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading {
    padding: 1px 5px 1px 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #dce9f9;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    top: 10px;
    background-image: -webkit-linear-gradient(top,#dce9f9 0,#e7ecf3 100%);
    background-image: -o-linear-gradient(top,#dce9f9 0,#e7ecf3 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dce9f9),to(#e7ecf3));
    background-image: linear-gradient(to bottom,#dce9f9 0,#e7ecf3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce9f9', endColorstr='#e7ecf3', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

.profile-picture {
    padding: 20px 20px;
    text-align: center;
    color: #dce9f9 !important;
}

.headerright {
    padding-top: 12px !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: right;
    min-width: 5%;
    text-align: right;
    letter-spacing: 0.5em;
}

    .headerright a {
        color: #dce9f9 !important;
    }

.count {
    position: absolute;
    top: 5px;
    right: 54px;
    cursor: pointer;
    background: #ff0000;
    font-size: 10px;
    color: #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 2px 0px 2px 5px;
}

.globalsearch {
    margin-top: 0px;
    margin-right: 10px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    margin: 0;
    z-index: 2000;
}

.dropnote {
    width: 310px;
    right: 0;
    left: auto;
}


.main {
    margin-top: 50px;
}


.content {
    padding: 10px 15px 10px 15px;
    background-color: #ecf0f5;
    border: 1px solid #e3e3e3;
    min-height: 900px;
}

.dismissable {
    background: #fff;
    height: 35px;
    padding: 7px 7px 7px 7px;
    border: 1px solid #e7ecf3;
    border-bottom: 1px solid rgba(0,0,0,.17);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#hidemenu {
    float: left;
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 21px;
    border-right: rgba(255,255,255,0.1) 1px solid;
}

    #hidemenu:before {
        font-family: 'FontAwesome';
        content: "\f0c9";
    }

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}



.table thead tr {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: linear-gradient(to bottom, #ebf3fc, #dce9f9);
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #cccccc;
}

.table tbody tr {
    border: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
    font-size: 12px;
    color: #293846;
}

.table tfoot tr {
    border: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
    font-size: 12px;
    color: #293846;
}


/*top Menu*/
.navbar-default {
    background: #2b425b;
    color: #fff;
}

.navbar {
    border-bottom: 1px solid #3d5b7d;
}

.navbar-default .navbar-brand {
    color: #dce9f9;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 200px;
    }

#sidebar-wrapper {
    z-index: 1000;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow: hidden;
    background: #2b425b;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -moz-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -o-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ebf3fc !important;
    background: #2b425b;
    top: 50px;
}

.sub-menu {
    display: block;
    text-decoration: none;
    color: #dce9f9;
    border-bottom: rgba(0,0,0,0.1) 1px solid;
    border-top: rgba(255,255,255,0.1) 1px solid;
    padding: 9px 9px 9px 60px !important;
}

    .sub-menu:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255,255,255,0.2);
    }


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #dce9f9;
    border-bottom: rgba(0,0,0,0.1) 1px solid;
    border-top: rgba(255,255,255,0.1) 1px solid;
    padding: 9px 9px 9px 5px !important;
}

.sidebar-nav ul {
    -moz-padding-start: 10px;
    -webkit-padding-start: 10px;
    -khtml-padding-start: 10px;
    -o-padding-start: 10px;
    padding-start: 10px;
    padding-left: 10px;
    list-style: none;
}

.sidebar-nav li a i.main-icon {
    float: left;
    font-size: 20px;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: -10px 10px -12px -10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

    .sidebar-nav > .sidebar-brand a {
        color: #999999;
    }

        .sidebar-nav > .sidebar-brand a:hover {
            color: #fff;
            background: none;
        }



@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}




.AutoExtender {
    font-size: 0.90em;
    line-height: 18px;
    padding: 2px;
    background-color: white;
    margin-left: 1px;
    width: 400px !important;
    z-index: 100000 !important;
    border: 1px solid #bababa;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    overflow: auto;
    max-height: 300px;
}

.AutoExtenderList {
    background-color: white;
    text-align: left;
    cursor: pointer;
    color: black;
    z-index: 100000 !important;
    padding: 4px;
}

.AutoExtenderHighlight {
    color: white;
    background-color: #34495e;
    cursor: pointer;
    z-index: 100000 !important;
    padding: 2px;
}


.ajax__calendar_container {
    z-index: 1000;
}
/*Tab Container*/
.ajax__tab_container {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.ajax__tab_panel {
    outline: none !important;
    z-index: 1 !important;
}

.Bigtab .ajax__tab_default .ajax__tab_tab {
    text-align: center;
    color: #2b425b;
}

.Bigtab .ajax__tab_header {
    background-color: #eee;
    padding: 5px 5px 0px 5px;
    display: block;
}

    .Bigtab .ajax__tab_header .ajax__tab_outer {
        color: #222;
        padding-left: 9px;
        margin-right: 3px;
    }

    .Bigtab .ajax__tab_header .ajax__tab_inner {
        border-color: #666;
        color: #fff;
        padding: 2px 9px 0px 0px;
    }


.Bigtab .ajax__tab_hover .ajax__tab_inner, ajax__tab_tab a {
    color: #fff;
}

.Bigtab .ajax__tab_active .ajax__tab_inner {
    color: #000;
    border-color: #333;
}

.Bigtab .ajax__tab_body {
    background-color: #fff;
    border-top-color: red;
    padding: 9px;
}

.Bigtab .ajax__tab_outer a {
    color: #31708f;
}

.Bigtab .ajax__tab_active .ajax__tab_outer {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #fff;
    color: #2b425b;
}

/*Compliance*/

div#rMenu {
    position: fixed;
    visibility: hidden;
    top: 0px;
    left: 0px;
    text-align: left;
    padding: 0px !important;
    background-color: #eee;
    border: 1px solid #808080;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -ms-box-shadow: 3px 3px 3px #ccc;
    -o-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

    div#rMenu ul {
        margin: 0px;
        padding: 0px;
    }

        div#rMenu ul li {
            margin: 0 0;
            padding: 1px 7px 1px 10px;
            cursor: pointer;
            list-style: none outside none;
        }

            div#rMenu ul li:hover {
                margin: 0 0;
                padding: 1px 7px 1px 10px;
                cursor: pointer;
                list-style: none outside none;
                background-color: #FFE6B0;
            }

.ul-button {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .ul-button > li {
        display: inline-block;
        margin-bottom: 7px;
    }

.no-border {
    border-width: 10px !important;
}

.btn-circle {
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
    outline: 0 !important;
    font-size: 15px;
    text-align: center;
    padding: 7px !important;
    -moz-border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    border-radius: 100% !important;
}

/*Compliance*/



/*WIzard*/
ul.nav > li > a {
    padding: 5px 10px;
}

.nav-pills.nav-wizard > li {
    position: relative;
    overflow: visible;
    border-right: 10px solid #ccc;
    border-left: 10px solid #ccc;
}

    .nav-pills.nav-wizard > li + li {
        margin-left: 0;
    }

    .nav-pills.nav-wizard > li:first-child {
        border-left: 0;
    }

    .nav-pills.nav-wizard > li:last-child {
        border-right: 0;
    }

        .nav-pills.nav-wizard > li:last-child a {
            border-radius: 0 2px 2px 0;
        }

    .nav-pills.nav-wizard > li a {
        border-radius: 0;
        /*background-color: #ccc;*/
    }

    .nav-pills.nav-wizard > li .nav-arrow {
        position: absolute;
        top: 0px;
        right: -15px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 15px 0 15px 15px;
        border-color: transparent transparent transparent #fff;
        z-index: 150;
    }

    .nav-pills.nav-wizard > li .nav-wedge {
        position: absolute;
        top: 0px;
        left: -15px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 15px 0 15px 15px;
        border-color: #fff #fff #fff transparent;
        z-index: 150;
    }

    .nav-pills.nav-wizard > li:hover .nav-arrow {
        border-color: transparent transparent transparent #aaa;
    }

    .nav-pills.nav-wizard > li:hover .nav-wedge {
        border-color: #aaa #aaa #aaa transparent;
    }

    .nav-pills.nav-wizard > li:hover a {
        background-color: #aaa;
        color: #fff;
    }

    .nav-pills.nav-wizard > li.active .nav-arrow {
        border-color: transparent transparent transparent #428bca;
    }

    .nav-pills.nav-wizard > li.active .nav-wedge {
        border-color: #428bca #428bca #428bca transparent;
    }

    .nav-pills.nav-wizard > li.active a {
        background-color: #428bca;
    }



/*Paging*/

.pagination > li > a, .pagination > li > span {
    padding: 3px 10px;
}



.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys table tbody tr td {
        display: inline;
        border: 0px !important;
    }

    .pagination-ys table tbody tr {
        border: 0px !important;
    }

        .pagination-ys table tbody tr td a,
        .pagination-ys table tbody tr td span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #428bca;
            font-weight: bold;
            background-color: #fff;
            border-left: 1px solid #ccc;
            margin-left: -1px;
        }

        .pagination-ys table tbody tr td span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            font-weight: bold;
            z-index: 2;
            color: #fff;
            background-color: #428bca;
            border-color: #dddddd;
            cursor: default;
        }

        .pagination-ys table tbody tr td:first-child a,
        .pagination-ys table tbody tr td:first-child span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table tbody tr td:last-child a,
        .pagination-ys table tbody tr td:last-child span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table tbody tr td a:hover,
        .pagination-ys table tbody tr td span:hover,
        .pagination-ys table tbody tr td a:focus,
        .pagination-ys table tbody tr td span:focus {
            color: #97310e;
            background-color: #eeeeee;
            border-color: #dddddd;
        }


#Favourite {
    position: fixed;
    top: 51px;
    right: 0;
    height: 100%;
    width: 15%;
    border-left: 1px solid #035dcb;
    background-color: #f7f7f7;
    color: #035dcb;
    z-index: 1907;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: -2px 4px 4px 1px #888888;
}
